# ignore everything
*

# whitelist directory
!*/

# whitelist this gitignore
!/.gitignore

# track these files
!/dspace-jspui/src/main/java/org/dspace/app/webui/components/TematresTerm.java
!/dspace-jspui/src/main/java/org/dspace/app/webui/components/TematresTermDirectedGraph.java
!/dspace-jspui/src/main/java/org/dspace/app/webui/jsptag/ControlledVocabularyTag.java
!/dspace-jspui/src/main/java/org/dspace/app/webui/util/TematresUtil.java
