# ignore everything
*

# whitelist directory
!*/

# whitelist this gitignore
!/.gitignore

# track these files
## Base Tematres
!/dspace-jspui/src/main/java/org/dspace/app/webui/components/TematresTerm.java
!/dspace-jspui/src/main/java/org/dspace/app/webui/components/TematresTermDirectedGraph.java
!/dspace-jspui/src/main/java/org/dspace/app/webui/util/TematresUtil.java

## Add subject from Tematres
!/dspace-jspui/src/main/java/org/dspace/app/webui/jsptag/ControlledVocabularyTag.java

## Search subject from Tematres
!/dspace-api/src/main/java/org/dspace/discovery/DiscoverQuery.java
!/dspace-jspui/src/main/java/org/dspace/app/webui/discovery/DiscoverUtility.java
!/dspace-jspui/src/main/java/org/dspace/app/webui/discovery/DiscoverySearchRequestProcessor.java
